<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://api.zgaf.io/api_v1/variantview?varId={{ id }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ variantName }}">
  <meta property="og:description" content="{{ variantDescription }}">
  <meta property="og:image" content="https://api.zgaf.io/static/content/variants/{{ variantImage }}.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="api.zgaf.io">
  <meta property="twitter:url" content="https://api.zgaf.io/api_v1/variantview?varId={{ id }}">
  <meta name="twitter:title" content="{{ variantName }}">
  <meta name="twitter:description" content="{{ variantDescription }}">
  <meta name="twitter:image" content="https://api.zgaf.io/static/content/variants/{{ variantImage }}.png">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Dewrito Share</title>

  <link href="..\..\frontend\index.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class=" container-fluid">
      <a class=" navbar-brand" href="https://fileshare.zgaf.io">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        </ul>
        <form class="d-flex">
          <div id="user-prof"></div>
        </form>
      </div>
    </div>
  </nav>
  <div id="map-container" class="container w-25 p-3">
    <div class="row">
      <div id="var-info"></div>
    </div>
  </div>

  <script src="varianttemplate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>